<!-- HALAMAN UNTUK SIGNUP -->

<h1>Signup <%= role === "admin" ? "Admin" : "User" %></h1>
<form action="/signup" method="POST">
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" id="username" name="username" required>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" required>
  </div>
  <input type="hidden" name="role" value="<%= role %>">
  <button type="submit" class="btn btn-primary">Signup</button>
</form>
<p>Sudah punya akun? <a href="/login">Login di sini</a>.</p>
<% if (error) { %>
<p class="text-danger"><%= error %></p>
<% } %>
